{%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
{%- assign list_limit = include.limit | default: 1000 -%}
<div class="flex flex-col divide-y divide-gray-100 dark:divide-zinc-800">
  {%- for post in include.posts limit: list_limit -%}
  <a class="text-gray-900 dark:text-gray-100 hover:text-gray-900/70 dark:hover:text-gray-100/70 transition-all"
    href="{{ post.url | relative_url }}">
    <div class="flex pb-4 md:pb-2 pt-3 flex-col md:flex-row items-start">
      <div class="flex-auto md:w-9/12 relative top-[2px]">
        <h2 class="font-bold">{{ post.title | escape }}</h2>
      </div>
      <div class="md:w-3/12 md:pl-4 md:shrink-0 text-sm relative top-px text-gray-400 dark:text-gray-500">
        {{ post.date | date: date_format }}
      </div>
    </div>
  </a>
  {%- endfor -%}
</div>
